html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: white;
}
body {
  background-color: white;
  color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.inverted {
  filter: invert(85%); /* this should make the background color a dark gray instead of black */
}
/* Exceptions to inverted style */
.inverted .poofer-enabled, .inverted .switch .slider, .inverted .btn-record {
  filter: invert(100%);
}

.center {
  text-align: center;
}

.poofer-enabled {
  background-color: #ff9966;
  background: #ff9966 url("images/poofer-enabled.gif") no-repeat center center;
}
.page-container {
  height: 100%;
}
.header-container {
  text-align: right;
}
.main-container {
  display: flex;
  height: 100%;
}
.flame-container {
  display: flex;
  width: 60%;
  padding: 2em;
}
.hydraulics-container {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  padding: 2em;
  flex: 1;
}
.poofer-display td {
  text-align: center;
  width: 2em;
  height: 2em;
}
.poofer-display td, .poofer-selected-display-field {
  font-variant: small-caps;
  text-transform: capitalize;
}
.poofer {
  border: 1px solid black;
}
.poofer--blank {
  border: none;
}
.poofer-label {
  font-weight: bold;
}
.poofer-controls-container {
  margin-left: 2em;
  display:flex;
  flex-direction:column;
  flex: 1;
}
.poofer-main-toggle-container {
  height: 50%;
}
.poofer-individual-toggle-container {
  height: 50%;
  display: flex;
  flex-direction: column;
}
.poofer-individual-toggle-main {
  display: flex;
  align-items: center; /* vertically centers the children */
}
.poofer-selected-display-container {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  text-align: center;
}
.poofer-selected-label {
  font-size: .25em;
}
.poofer-selected-display-field {
  border: 1px solid black;
}

.hydraulics-position-display {
  width: 100%;
  text-align: right;
}
.hydraulics-position-display th {
  text-align: center;
}
.hydraulics-label {
  border: 1px solid black;
  width: 2em;
  width: 45%;
}
.hydraulics-central-controls-container {
  display:flex;
  flex-direction:row;
  align-items: center; /* vertically centers the children */
}
.hydraulics-record-toggle-container {
  margin-bottom: 1em;
}
.hydraulics-position-display-container {
  margin-left: 1em;
  flex: 1;
}
.sequence-file-picker {
  list-style: none;
  border: 1px solid black;
  padding: 2px;
  height: 6em;
  overflow-x: scroll;
}
.sequence-file {
  background-color: #ffffff;
  color: #666666;
}
.sequence-file.selected {
  background-color: #eeeeee;
  color: #000000;
}
.hydraulics-bottom-controls-container {
  display: flex;
  flex-direction: column;
}
.hydraulics-attract-center-controls-container {
  display: flex;
  flex-direction:row;
  align-items: center;
}
.hydraulics-attract-left-controls-container {
  flex: 1;
  text-align: right;
}
.hydraulics-attract-file-picker-container {
  flex: 2;
}

.btn {
  width: 37px;
  height: 37px;
}
.btn-play {
  background: url("images/play.png") no-repeat center center;
}
.btn-stop {
  background: url("images/stop.png") no-repeat center center;
}
.btn-record {
  background: url("images/record.png") no-repeat center center;
}


/* Toggle switches */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffaaff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffaaff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End toggle switches */
