@font-face {
  font-family: 'Colonna';
  src: url('COLONNA.TTF') format('truetype');
}
html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: white;
}
body {
  background-color: white;
  color: black;
  height: 500px;
  width: 1024px;
  margin: 0;
  padding: 0;
}
.inverted {
  filter: invert(85%); /* this should make the background color a dark gray instead of black */
}
/* Exceptions to inverted style */
.inverted .poofer-enabled, .inverted .switch .slider, .inverted .btn-record, .inverted .btn-stop-record, .inverted .fancy-title {
  filter: invert(100%);
}

.center {
  text-align: center;
}

.fancy-title {
  font-size: 3em;
  font-family: 'Colonna';
  color: #993399;
}
.main-title {
  font-size: 1.5em;
}
.subtitle {
  font-size: .8em;
}

.poofer-enabled {
  background-color: #ff9966;
  background: #ff9966 url("images/poofer-enabled.png") no-repeat center center;
}
.poofer-enabled.selected {
  background-color: #ff9966;
  background: #ff9966 url("images/poofer-enabled-selected.png") no-repeat center center;
}
.poofer-disabled {
  background-color: gray;
  background: gray url("images/poofer-disabled.gif") no-repeat center center;
}
.poofer-disabled.selected {
  background-color: gray;
  background: gray url("images/poofer-disabled-selected.gif") no-repeat center center;
}
.page-container {
  height: 100%;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
center.fancy-title {
  flex: 1;
}
.main-container {
  display: flex;
  height: 100%;
  background-color: #ffffff;
  margin-top:-15px;
}
.flame-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 1em;
  padding-top: 0;
  margin: 1em;
  margin-top: 0;
  background-color: #f6f6f6;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
}
.flame-title-container {
}
.flame-body-container {
  display: flex;
}
.hydraulics-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  padding-top: 0;
  margin: 1em;
  margin-top: 0;
  flex: 1;
  background-color:#f6f6f6;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
  justify-content: space-between;
}
.poofer-display-container {
  background: url("images/flg-logo.gif") no-repeat bottom left;
}
.poofer-display {
  width: 416px;
  height: 416px;
}
.poofer-display td {
  text-align: center;
  width: 32px;
  height: 32px;
}
.poofer-display td, .poofer-selected-display-field {
  font-variant: small-caps;
  text-transform: capitalize;
}
.poofer {
  border: 1px solid black;
}
.poofer--blank {
  border: none;
}
.poofer-label {
  font-weight: bold;
}
.poofer-controls-container {
  margin-left: 2em;
  display:flex;
  flex-direction:column;
  flex: 1;
  justify-content: space-between;
}
.poofer-main-toggle-container {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 2px 1px 1px black;
  padding: 1em;
  margin-left:-125px;
  margin-right:125px;
}
.poofer-individual-toggle-container {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-left:-25px;
  margin-right:25px;
}
.poofer-individual-toggle-main {
  display: flex;
  justify-content: space-around;
}
.poofer-selected-display-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.poofer-selected-label {
  font-size: .25em;
}
.poofer-selected-display-field {
  border: 1px solid black;
}
.poofer-sequence-file-picker-container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 2px 1px 1px black;
  padding: 1em;
  padding-bottom: 0;
  margin-left:-125px;
  margin-right:125px;
}
.poofer-sequence-controls-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hydraulics-main-toggle-container {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 2px 1px 1px black;
  padding: 1em;
  padding-top: 3px;
}
.hydraulics-position-display {
  width: 100%;
  text-align: right;
  margin-top: 1em;
}
.hydraulics-position-display th {
  text-align: center;
}
.hydraulics-label {
  border: 1px solid black;
  width: 2em;
  width: 45%;
}
.hydraulics-central-controls-container {
  display:flex;
  flex-direction:row;
  align-items: center; /* vertically centers the children */
}
.hydraulics-central-left-controls-container {
  display: flex;
  align-items: flex-end;
}
.hydraulics-record-toggle-container {
  margin-top: 1em;
}
.hydraulics-position-display-container {
  margin-left: 1em;
  flex: 1;
}
.sequence-file-picker {
  list-style: none;
  border: 1px solid black;
  padding: 2px;
  height: 6em;
  min-width: 200px;
  overflow-x: scroll;
}
.sequence-file {
  background-color: #ffffff;
  color: #666666;
}
.sequence-file.selected {
  background-color: #eeeeee;
  color: #000000;
}
.hydraulics-bottom-controls-container {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 2px 1px 1px black;
  padding: 1em;
  padding-bottom: 3px;
  margin-top: 1em;
}
.hydraulics-attract-toggle-container {
  display: flex;
  justify-content: space-between;
}
.hydraulics-attract-center-controls-container {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
}
.hydraulics-attract-left-controls-container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.hydraulics-attract-file-picker-container {
  flex: 2;
}

.btn {
  width: 37px;
  height: 37px;
}
.btn-play {
  background: url("images/play.png") no-repeat center center;
}
.btn-stop {
  background: url("images/stop.png") no-repeat center center;
}
.btn-record {
  background: url("images/record.png") no-repeat center center;
}
.btn-stop-record {
  background: url("images/stop-record.png") no-repeat center center;
}


/* Toggle switches */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffaaff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffaaff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End toggle switches */
